.App {
  text-align: center;
  /* display: flex; */
}

.site-header__wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 60px;
}
.appName {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.appName:hover {
  color: red;
  background-color: black;
  transform: scale(1.2);
}

.shipCards-wraper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
}

/* .shipCards-wraper {
  grid-template-rows: repeat(autofill 1fr, 1fr, 1fr);
} */

.cards {
  width: 400px;
  height: 250px;
  background-color: darkolivegreen;
  border-radius: 10px;
}

span {
  font-size: 22px;
  font-weight: 600;
  color: darkblue;
}

.buttons {
  width: 100%;
  height: 100px;
  background-color: black;
  /* display: flex; */
  /* justify-content: center; */
}

a.button {
  font-size: 22px;
  width: 200px;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: darkblue;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
a.button:hover {
  color: red;
  background-color: black;
}
@media all and (max-width: 30em) {
  a.button {
    display: block;
    margin: 0.4em auto;
  }
}
